*{
    margin: 0%;
}
.cards{
    width: 20%;
    text-align: center;
    box-shadow: 5px 5px 20px 1px;
    padding: 25px;
    border-radius: 10px;
    
}
h4{
    font-size: 28px;
    color: #211F54;
    margin-top: 20px;
}
p{
    color: #6E7191;
    font-size: 21px;
    margin-top: 20px;
}
@media(max-width:450px){
    .cards{
        width: 100%;
        
    }
}